<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<hawkEyePluginConfiguration>
    <cricketDataProvider>
        <classpath>
            <jar>
                <desc>espnhawkeye</desc>
                <path>espnhawkeye-18.07.jar</path>
            </jar>
        </classpath>
         <cricDataDAO>org.espn.hawkeye.dao.ESPNCricInfoDAOImpl</cricDataDAO>
        <software>
            <about>hawkeye data provided by espncricinfo</about>
            <category>Sports Analytics</category>
            <contributor>
                <address>#1993,AECS Layout,A Block,Singasandra, Bangalore-560068,Karnataka,India</address>
                <authorType>INDIVIDUAL</authorType>
                <contactNo>+91-9740319263</contactNo>
                <email>abeautifulmind98@gmail.com</email>
                <name>Manoranjan Sahu</name>
                <website>http://www.j-hawk.in</website>
            </contributor>
            <name>espn hawk-eye</name>
            <pluginName>hawkeye</pluginName>
            <pluginVersion>
                <version>18.07</version>
            </pluginVersion>
            <releaseDate>2018-07-08T08:43:07.355+05:30</releaseDate>
            <version>
                <version>18.07</version>
            </version>
            <website>http://www.espncricinfo.com</website>
        </software>
        <tabPath>.</tabPath>
    </cricketDataProvider>
</hawkEyePluginConfiguration>
