*.class

# Package Files #
*.jar
*.war
*.ear
/j-hawk-code/mvn/commons-util/target/
/j-hawk-code/mvn/commons-event/target/
/j-hawk-code/mvn/commons-ds/target/
/j-hawk-code/mvn/j-hawk/target/
/j-hawk-code/mvn/dsa/target/
/j-hawk-code/mvn/hackerrank/target/
/j-hawk-code/mvn/princeton/nbproject/private/
/j-hawk-code/mvn/princeton/build/
/j-hawk-code/mvn/princeton/dist/
/j-hawk-code/mvn/sandiego/target/
/j-hawk-code/mvn/test/Spring4MVCCRUDRestServiceCORS/Spring4MVCCRUDRestServiceCORS/target/
/j-hawk-code/mvn/mavenproject1/service/target/
/j-hawk-code/mvn/sts/Spring4MVCCRUDRestService1/target/
/j-hawk-code/mvn/sts/abc/mavenproject1/target/
/j-hawk-code/mvn/mart/target/