set terminal png
set ylabel "Response Time(ms)"
set title "#MODULENAME#"
set output "#MODULENAMEPATH#.png"
set xdata time
set timefmt "%m/%d/%y %H:%M:%S"
set xrange ["#STARTTIME#":"#ENDTIME#"]
set format x "%m/%d\n%H:%M:%S"
set timefmt "%m/%d/%y %H:%M:%S"
plot "#FILEPATH#" using 2:6 smooth sbezier with lines